* {
  margin: 0;
  padding: 0;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
  width: 1410px;
  margin: auto;
  background-color: #666666;
}

.header #headerImg {
    width:100%;
    display: block;
}

.header {
  background-color: #ffffff;
}

.topHeader {
  height: 30px;
  background-color: #222222;
}

#logoImg {
  height: 105px; 
}

.footerTop {
  height: 125px;
  background-color: #222222;
  border-bottom: 1px solid #2b5873;
}

.footer {
  height: 55px;
  background-color: #222222;
}

.mainContent {
  height: 300px;
  background-color: #f7f7f7;
}

.clearfix {
	overflow: auto;
}

.doubleCol {
  background-color: #DEDEDF;
  border-top: 1px solid #000000;
}

.rightContent {
	float: right;
	width: 50%;
  box-sizing: border-box;

}

.leftContent {
	float: left;
	width: 50%;
  box-sizing: border-box;

}

#courtHouseImg {
  width: 100%;
}