body {
    background-image: url(space.jpg);
        width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 28px;
    color: yellow;
}

ul {
    list-style-image: url(moon.png);
}