* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #002244;
}

p {
    padding: 10px;
}

main h2 {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

main h4 {
    text-align: center;
    padding-bottom: 30px;
}

#page-wrap {
    width: 80%;
    max-width: 800px;
    margin: 50px auto 50px auto;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
    background-color: #FFAA44;
    display: block;
}

#nav ul {
    list-style-type: none;
}

#nav li {
    display: inline-block;
    padding: 10px 24px;
}

#nav a {
    text-decoration: none;
    color: #000000;
}

#nav a:hover {
    color: #FFFFFF;
}

header {
    display: block;
    background-color: #004A7B; 
    padding-top: 10px;
    padding-bottom: 10px;
}

header h1 a {
    padding-left: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

footer {
    background-color: #004A7B;
    text-align: center;
}

.mySlides {
    display: none;
}

.slideShow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    padding-top: 30px;
}

#map {
    float: right;
    width: 300px;
    padding-right: 10px;
}

#form {
    width: 400px;
    float: left;
}

.clearfix {
    overflow: auto;
}

label { 
    float: left;
    display: block;
    text-align: right;
    width: 120px;
    padding-right: 10px;
}

input, textarea {
    display: block;
    margin-bottom: 20px;
}

input[type=submit] {
    margin-left: 130px;
}

.g-recaptcha {
    margin-left: 130px;
}

.quote {
    float: left;
    width: 450px;
    padding-bottom: 20px;
}

.quotePerson {
    float: right;
    width: 200px;
    padding-bottom: 20px;
    line-height: 60px;
}

#picBrad {
    float: left;
    width: 150px;
    padding-left: 30px;
}

#picBrad img {
    width: 150px;
    height: auto;
    border: 1px solid #002244;

}

#paperDoc {
    float: right;
    padding-left: 20px;
}

#paperDoc img {
    width:300px;
    height: auto;
}

#bioBrad {
    float: right;
    width: 450px;
    padding-top: 30px;
}


@media only screen and (max-width: 620px) {
    #page-wrap {
        width: 100%;
        min-width: 0;
    }

    #nav li {
        background-color: #004A7B;
        border: 1px solid #B26F1E;
        padding: 10px 24px; 
        cursor: pointer; 
        width: 100%; 
        display: block; 
    }

    #nav a {
        color: #FFFFFF;
    }
    header {
        background-color: #FFAA44; 
    }
    header h1 a {
        color: #000000;
    }

    .slideShow {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    }

    #picBrad {
    float: none;
    width: 150px;
    padding-left: 10px;
    }

    #bioBrad {
    float: none;
    width: auto;
    padding-top: 10px;
    }

    #paperDoc {
    float: none;
    padding-left: 10px;
    }

    #paperDoc img {
    width:80%;
    height: auto;
    }

    .quote {
    float: none;
    width: auo;
    padding-bottom: 5px;
    }

    .quotePerson {
    float: none;
    width: auto;
    padding-bottom: 10px;
    line-height: normal;
    }

    #map {
    float: none;
    width: 80%;
    padding-right: 0;
    padding-left: 10px;
    }

    #form {
    width: auto;
    float: none;
    }

}