* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #848484;
    background-size: cover;

}

#wrapper {
  width: 800px;
  margin: 0 auto;
  background: radial-gradient(circle, #E2E2E2, #BEBEBE) no-repeat center center fixed;
}

.footer {
    padding: 14px 0px;
    background-color: #1976d2;
    text-align: center;
    color: #ffffff;
}

.header {
    position: relative;
}

.header img {
    width: 100%;
}

.header h2 {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 400px;
}
.header h2 span { 
   color: #000000; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background-color: #b86700;
   padding: 10px; 
}

.header h2 span.spacer {
   padding:0 5px;
}

#form {
    display: block;
    float: left;
    width: 400px;
    padding: 20px 10px;
}


.clearfix {
   overflow: auto;
}

#map {
    display: block;
    float: right;
    width: 300px;
    padding: 20px 10px;
}

label { 
    float: left;
    display: block;
    text-align: right;
    width: 120px;
    padding-right: 10px;
}

input, textarea {
    display: block;
    margin-bottom: 20px;
}

input[type=submit] {
    margin-left: 130px;
}

.g-recaptcha {
    margin-left: 130px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1976d2;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: #ffffff;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #63a4ff;
  color: #000000;
}

ul.topnav li a.active {
  background-color: #ef941f;
}

.mHeader {
    display: none;
}

main h1, h2, h3, h4, p {
    padding: 20px 10px;
}

main h4 {
    padding-left: 40px;
}

#bioBrad {
    float: right;
    width: 450px;
    padding-right: 40px;
    padding-top: 80px;
}

#picBrad {
    float: left;
    width: 150px;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#picBrad img {
    width: 150px;
    height: auto;
    border: 1px solid #1976d2;
}

#paperDoc {
    float: right;
    padding-left: 20px;
    padding-right: 10px;
}

#paperDoc img {
    width:300px;
    height: auto;
}

.quote {
    float: left;
    width: 450px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.quotePerson {
    float: right;
    width: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 100px;
    line-height: 60px;
}

.frontText {
    padding: 20px 0;

}
@media screen and (max-width: 800px) {
    ul.topnav li {
    float: none;
  }
    #wrapper {
        width: 100%;
    }
    #form {
        float: none;
        width: 100%;
    }
    #map {
        float: none;
        width: 100%;
    }
    .header {
        display: none;
    }
    .mHeader {
        display: initial;
    }

    .quote {
    float: none;
    width: 90%;
    padding-bottom: 5px;
    padding-top: 0;
    display: inherit;
}

.quotePerson {
    float: none;
    width: 90%;
    padding-bottom: 25px;
    padding-top: 0;
    padding-right: 0;
    line-height: normal;
    display: inherit;
}

#bioBrad {
    float: none;
    width: 90%;
    padding-right: 0;
    padding-top: 0;
}

#picBrad {
    float: none;
    width: 90%;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

#picBrad img {
    width: 150px;
    height: auto;
    border: 1px solid #1976d2;
}
#paperDoc {
    float: none;
    padding-left: 10px;
    padding-right: 0;
}

#paperDoc img {
    width:300px;
    height: auto;
}

#form {
    display: block;
    float: none;
    width: 90%;
    padding: 20px 10px;
}

#map {
    display: block;
    float: none;
    width: 90%;
    padding: 20px 10px;
}

label { 
    float: left;
    display: block;
    text-align: left;
    width: 80px;
    padding-right: 10px;
}

input, textarea {
    display: block;
    margin-bottom: 20px;
}

input[type=submit] {
    margin-left: 10px;
}

.g-recaptcha {
    margin-left: 10px;
}

}