.blurb-right {
    background-color: #F65F87;
    margin-right: 5%;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
    font-family: 'Diplomata SC', cursive;
    border: 1px solid black;
    min-height: 202px;
    min-width: 400px;
    background-image: url("trump.jpg");
    background-size: auto 200px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 210px;
    padding-right: 50px;
    border-radius: 0 100px 100px 0;
}

.blurb-left {
    background-color: #AFD9F4;
    margin-left: 5%;
    box-sizing: border-box;    
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
    font-family: 'Diplomata SC', cursive;
    border: 1px solid black;
    min-height: 202px;
    min-width: 400px;
    background-image: url("obama.jpg");
    background-size: auto 200px;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 210px;
    padding-left: 60px;
    border-radius: 100px 0 0 100px;
}

header {
    text-align: center;
    font-size: 30px;
    background: linear-gradient(to right, #AFD9F4 , #F65F87);
    margin-bottom: 30px;
    padding: 10px 5px;
    box-shadow: inset 0 -10px 20px -10px #000000;
}

.leftword   {
    color: #F65F87
}

.rightword   {
    color: #AFD9F4
}

body {
    margin: 0;
}